<div class="main-body">
    <section class="text-gray-600 body-font relative">
      <div class="container px-5 mx-auto flex flex-wrap">
        <form [formGroup]="form" (ngSubmit)="send()" class="bg-white flex flex-col w-full mt-8 p-4 rounded-lg shadow-md">
          <h1 class="text-gray-900 text-3xl mb-4 font-medium title-font text-red-500">
            Contact Form
          </h1>
          <div class="mb-4">
            <label for="name" class="block text-sm text-gray-600">Name</label>
            <input formControlName="name" type="text" id="name" name="name" class="form-input" />
          </div>
          <div class="mb-4">
            <label for="email" class="block text-sm text-gray-600">Email</label>
            <input formControlName="email" type="email" id="email" name="email" class="form-input" />
          </div>
          <div class="mb-4">
            <label for="message" class="block text-sm text-gray-600">Message</label>
            <textarea formControlName="message" id="message" name="message" class="form-textarea"></textarea>
          </div>
          <button type="submit" class="btn-submit">Send</button>
        </form>
      </div>
    </section>
  </div>
  