section {
    display: table;
  }
  .col-md-6.offset-md-5 {
    display: flex;
    justify-content: center;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: calc(100% - 50px); 
    margin-bottom: 25px; 
  }
  
  .page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .frame {
    border: 1px solid #ccc;
    padding: 80px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }
  .frame h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 28px; 
    color: #ac1717; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
  }
  .fontawesomeicon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
 }

.Eye::before {
   font: var(--fa-font-solid);
    content: ' \f06e';
 }

  
  